/* POWER INTERFACE MAIN COMPONENTS */

body {
    font-family : Krungtep, Arial;
    font-size : 15px;
	background: url(../images/fond.png) top left fixed;
	background-size: cover;
	color: #DDD;
}
.game {
    position: relative;
    width: 1000px;
    height: 746px;
    background: url(../images/bordure.png) no-repeat 0 -100px;
    background-size: 100%;
    margin: 10px auto;
}

.map {
    position: absolute;
    width: 606px;
    height: 606px;
    top: 90px;
    left: 0px;
    z-index : 3;
}

.main_view {
    position: absolute;
    left: 650px;
    width: 350px;
    top: 150px;
    height: 1000px;
    z-index : 2;
}

.top_view {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 160px;
    width: 100%;
    overflow: hidden;
    z-index : 1;
}

.game_title {
    position: absolute;
    left: 400px;
    top: -10px;
}

/* UNITS */
.soldier.pig {
    background-image: url(../images/units/pig/soldier.png);
}

.soldier.cow {
    background-image: url(../images/units/cow/soldier.png);
}

.soldier.chicken {
    background-image: url(../images/units/chicken/soldier.png);
}

.soldier.rabbit {
    background-image: url(../images/units/rabbit/soldier.png);
}


.tank.pig {
  background-image: url(../images/units/pig/tank.png);
}

.tank.cow {
  background-image: url(../images/units/cow/tank.png);
}

.tank.chicken {
  background-image: url(../images/units/chicken/tank.png);
}

.tank.rabbit {
  background-image: url(../images/units/rabbit/tank.png);
}


.jetfighter.pig {
  background-image: url(../images/units/pig/jetfighter.png);
}

.jetfighter.cow {
  background-image: url(../images/units/cow/jetfighter.png);
}

.jetfighter.chicken {
  background-image: url(../images/units/chicken/jetfighter.png);
}

.jetfighter.rabbit {
  background-image: url(../images/units/rabbit/jetfighter.png);
}


.destroyer.pig {
  background-image: url(../images/units/pig/destroyer.png);
}

.destroyer.cow {
  background-image: url(../images/units/cow/destroyer.png);
}

.destroyer.chicken {
  background-image: url(../images/units/chicken/destroyer.png);
}

.destroyer.rabbit {
  background-image: url(../images/units/rabbit/destroyer.png);
}


.regiment.pig {
  background-image: url(../images/units/pig/regiment.png);
}

.regiment.cow {
  background-image: url(../images/units/cow/regiment.png);
}

.regiment.chicken {
  background-image: url(../images/units/chicken/regiment.png);
}

.regiment.rabbit {
  background-image: url(../images/units/rabbit/regiment.png);
}


.jetbomber.pig {
  background-image: url(../images/units/pig/jetbomber.png);
}

.jetbomber.cow {
  background-image: url(../images/units/cow/jetbomber.png);
}

.jetbomber.chicken {
  background-image: url(../images/units/chicken/jetbomber.png);
}

.jetbomber.rabbit {
  background-image: url(../images/units/rabbit/jetbomber.png);
}


.battlecruiser.pig {
  background-image: url(../images/units/pig/battlecruiser.png);
}

.battlecruiser.cow {
  background-image: url(../images/units/cow/battlecruiser.png);
}

.battlecruiser.chicken {
  background-image: url(../images/units/chicken/battlecruiser.png);
}

.battlecruiser.rabbit {
  background-image: url(../images/units/rabbit/battlecruiser.png);
}

.missile {
	background-image: url(../images/units/megamissile.png);
}


/* MAP */
.map {
    background: url(../images/map.jpg);
    background-size: 100% 100%;
}

.grid, .draw_zone, .touch_zone {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.grid .grid_item .unit {
	background-color: rgba(0, 0, 0, 0.7);
}

.grid .grid_item, .touch_zone .grid_item {
    position: absolute;
    width: 11.111111111%;
    height: 11.111111111%;
}

.touch_zone .grid_item.selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.touch_zone .grid_item.hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.touch_zone .grid_item.possible {
    background-color: rgba(0, 255, 0, 0.5);
}

.touch_zone .grid_item.impossible {
    background-color: rgba(255, 0, 0, 0.5);
}

.grid .grid_item.bigger_vertical, .touch_zone .grid_item.bigger_vertical {
    height: 33.33333333%;
    margin-top: -11.1111111%;
}

.grid .grid_item.bigger_horizontal, .touch_zone .grid_item.bigger_horizontal {
    width: 33.33333333%;
    margin-left: -11.1111111%;
}

.grid_item .unit {
    float: left;
    background-size: 100% 100%;
}

.unit_display_1 .unit {
    width: 100%;
    height: 100%;
}

.unit_display_1.bigger_horizontal .unit {
    width: 33.33333333%;
    margin-left: 33.33333333%;
}

.unit_display_1.bigger_vertical .unit {
    height: 33.33333333%;
    margin-top: 100%;
}

.unit_display_2 .unit {
    width: 50%;
    height: 50%;
}

.unit_display_2.bigger_horizontal .unit {
  width: 16.66666666%;
  margin-left: 22%;
}

.unit_display_3 .unit {
    width: 33.3333333%;
    height: 33.3333333%;
}

.unit_display_4 .unit {
    width: 25%;
    height: 25%;
}

/* VIEW */
.units_list {
    overflow: hidden;
}

.units_list .unit_item {
    float: left;
    width: 128px;
    height: 128px;
    margin: 10px;
    background-size: 100% 100%;
}

.unit_item .unit_item_hover {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.unit_item:hover .unit_item_hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.unit_item.selected .unit_item_hover {
  border: 2px solid #a01e00;
}

.units_fusion, .units_missile {
	display: none;
}

.units_fusion.active, .units_missile.active {
	display: block;
}

/* TOP VIEW */
.top_view .player_name, .top_view .player_power {
    position: absolute;
    top: 25px;
    left : 20px;
    font-weight: bold;
}

.top_view .player_power {
    position: absolute;
    top: 16px;
    left : 135px;
	width: 200px;
}

.player_power div {
	display: inline-block;
	vertical-align: 7px;
}

.top_view .player_buy {
    position : absolute;
    top : 10px;
    left : 660px;
}

.top_view .player_round {
    position : absolute;
    top : 10px;
    right : 40px;
}

/* BUY ITEM */

.buy_label, div.title {
  color : #dbb80a;
  font-weight: bold;
  font-size: 20px;
}
.buy_list, .buying_list {
	overflow: hidden;
}

.buy_list_item {
  float: left;
  width: 128px;
  height: 178px;
  overflow: hidden;
}

.buy_list_item_image {
  width: 128px;
  height: 128px;
  background-size: 100% 100%;
}

.buy_list_item_label {
  width: 128px;
  height: 20px;
  display:none;
}

.buy_list_item_action_zone {
  width: 128px;
  height: 30px;
}

.buy_list_item_action_zone button, .units_fusion input {
  margin-left: 1px;
  width: 126px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #de2a00;
  color : #dbb80a;
  font-weight: bold;
  border: 1px solid #a01e00;
  font-size: 15px;
  cursor: pointer;
}
.buy_list_item_action_zone button image {
    vertical-align: middle;
}

.position {
    display: none;
}


.planifications_orders, .planifications_events {
  font-weight: bold;
  color: #de2a00;
  margin-top: 15px;
}

.planifications_player {
  color : #dbb80a;
}

.planifications_player_list {
    padding-left: 15px;
}







