/* POWER INTERFACE MAIN COMPONENTS */
.game {
    position: relative;
    width: 966px;
    height: 706px;
}

.map {
    position: absolute;
    width: 666px;
    height: 666px;
    top: 40px;
    left: 0px;
}

.main_view {
    position: absolute;
    left: 666px;
    width: 300px;
    top: 40px;
    height: 666px;
}

.top_view {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    width: 100%;
    overflow: hidden;
}

/* UNITS */
.soldier.pig {
    background: url(../images/units/pig/soldier.png);
}

.soldier.cow {
    background: url(../images/units/cow/soldier.png);
}

.soldier.chicken {
    background: url(../images/units/chicken/soldier.png);
}

.soldier.rabbit {
    background: url(../images/units/rabbit/soldier.png);
}

.tank {
    background-color: blue;
}

.jetfighter {
    background-color: purple;
}

/* MAP */
.map {
    background: url(../images/map.jpg);
    background-size: 100% 100%;
}

.grid, .draw_zone, .touch_zone {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.grid .grid_item, .touch_zone .grid_item {
    position: absolute;
    width: 11.111111111%;
    height: 11.111111111%;
}

.touch_zone .grid_item.selected {
    background-color: rgba(255, 255, 255, 0.8);
}

.touch_zone .grid_item.hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.touch_zone .grid_item.possible {
    background-color: rgba(0, 255, 0, 0.5);
}

.touch_zone .grid_item.impossible {
    background-color: rgba(255, 0, 0, 0.5);
}

.grid .grid_item.bigger_vertical, .touch_zone .grid_item.bigger_vertical {
    height: 33.33333333%;
    margin-top: -11.1111111%;
}

.grid .grid_item.bigger_horizontal, .touch_zone .grid_item.bigger_horizontal {
    width: 33.33333333%;
    margin-left: -11.1111111%;
}

.grid_item .unit {
    float: left;
    background-size: 100% 100%;
}

.unit_display_1 .unit {
    width: 100%;
    height: 100%;
}

.unit_display_2 .unit {
    width: 50%;
    height: 50%;
}

.unit_display_3 .unit {
    width: 33.3333333%;
    height: 33.3333333%;
}

/* VIEW */
.units_list {
    overflow: hidden;
}

.units_list .unit_item {
    float: left;
    width: 128px;
    height: 128px;
    margin: 10px;
    background-size: 100% 100%;
}

.unit_item .unit_item_hover {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.unit_item:hover .unit_item_hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.unit_item.selected .unit_item_hover {
    border: 2px solid black;
}

/* TOP VIEW */
.top_view .player_name, .top_view .player_power {
    float: left;
}

.top_view .player_power {
    margin-left: 20px;
}

.top_view .player_round {
    float: right;
}